.comment {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.comment-content-area {
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5px;
    display: flex;
}

.comment-actions > button {
    background: none;
    border: 0;
}

.comment-upvote-downvote {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.comment-upvote-downvote > button {
    background: none; 
    border: 0;
}

.comment>.comment-actions>button {
    background: none;
    border: 0;
}

.comment-thread {
    margin-left: 30px;
    display: flex;
    border-left: 1px solid gray;
    flex-direction: column;
}

.comment-thread:first-child {
    border-left: 0 !important;
}

.comment-section {
    margin-left: -30px;
}

.comment-section {
    display: flex;
    flex-direction: column;
}