.tags {
    display: flex;
    flex-direction: row;
}

.tag {
    margin: 5px;
    height: 20px;
    padding: .15em 4px;
    padding-bottom: 0px;
    padding-top: 2px;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 rgba(27, 31, 35, .12);
    background-color: #e6e6fa;
    color: #000000
}

.tag:first-child {
    margin-left: 0px;
}

.tag-other {
    background-color: #aefcdb;
    color: #000000
}