/* 
input {
    display: none;
} */

.search-page input {
    display: block;
}

.content-section {
    width: 100%;
}
section { 
    width: 100%;
}

table {
    width: 100%;
    padding: 60px;
    padding-top: 10px;
    font-size: 18px;
}

table tr {
    display: flex;
}
table tr:nth-child(even) {
    background-color: rgba(0,0,0,.1);
    border-radius: 10px;
}
table tr:nth-child(even):hover {
    background-color: rgba(0,0,0,.4);
}
tr:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.3);
    border-radius: 10px;

}
table tr:first-child:hover {
    background-color: white;
    cursor: inherit;
}
td,th{
    width: fit-content;
    min-width: 90px;
    padding: 15px;
}
td.full-col,
th.full-col {
    width: 100%;
    text-align: left;
}



.logo {
    font-size: 40px;
}


@media(max-width: 790px) {
    input {
        min-width: 20px;
        max-width: 30px;
        width: 100%;
        font-size: 30px;
    }

    td,th{
        min-width: fit-content;
        width: fit-content;
        padding: 15px 10px;
    }

    table {
        width: 100%;
        padding: 0;
        padding-top: 10px;
        font-size: 18px;
    }

    .main-page .content-section {
        min-width: 0px;
    }

    .main-page input {
        min-width: 0px;
        max-width: inherit;
    }

}
