/** CSS for article page **/

/** Import full page css **/
@import url('../components/generics.css');

/** page-specific elements used **/
@import url('../components/ui-elements/comments.css');

input {
    display: none;
}

.search-page input {
    display: block;
}

.content-section {
    width: 100%;
}
section { 
    width: 100%;
}

table {
    width: 100%;
    padding: 60px;
    padding-top: 10px;
    font-size: 18px;
}

table tr {
    display: flex;
}
table tr:nth-child(even) {
    background-color: rgba(0,0,0,.1);
    border-radius: 10px;
}
table tr:nth-child(even):hover {
    background-color: rgba(0,0,0,.4);
}
tr:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.3);
    border-radius: 10px;

}
table tr:first-child:hover {
    background-color: white;
    cursor: inherit;
}
td,th{
    width: fit-content;
    min-width: 90px;
    padding: 15px;
}
td.full-col,
th.full-col {
    width: 100%;
    text-align: left;
}

.jumbotron {
    width: 100%;
    min-height: 300px;
    background-color: none;
    border-radius: 30px;
    margin-bottom: 30px;
    background-image: url('/assets/writing.jpeg');
    background-size: cover;
}

.jumbotron-content {
    color: white;
    padding-left: 40px;
    padding-top: 40px;
}

.jumbotron-content h2 {
    font-size: 40px;
    color: black;
    margin-bottom: 0;
}
.jumbotron-content h3 {
    font-size: 28px;
    margin-top: 0;
    color: black;
    padding: 5px;
    width: fit-content;
}
.editor-area {
    display: flex;
}
.editor-area div {
    width: 100%;
    padding: 10px;
}
.editor-area textarea {
    border: none;
    border-right: 1px dotted rgba(0,0,0,0.3);
    height: 300px;
    font-family: monospace;
    font-size: 14px;
    width: 100%;
}

textarea:focus {
    outline: none;
}



.tos {
    color: darkgray;
}

button {
    font-size: 14px;
    background-color: darkgreen;
    border: 0;
    padding: 8px 16px;
    font-weight: 600;
    color: white;
    border-radius: 4px;
}

button:hover {
    background-color: lightgreen;
    color: black;
    cursor: pointer;
}

@media(max-width: 790px) {
    input {
        min-width: 20px;
        max-width: 30px;
        width: 100%;
        font-size: 30px;
    }

    td,th{
        min-width: fit-content;
        width: fit-content;
        padding: 15px 10px;
    }

    table {
        width: 100%;
        padding: 0;
        padding-top: 10px;
        font-size: 18px;
    }

    .main-page .content-section {
        min-width: 0px;
    }

    .main-page input {
        min-width: 0px;
        max-width: inherit;
    }

    .editor-area {
        flex-direction: column;
    }

    .editor-area textarea {
        border: none;
        border-bottom: 1px dotted rgba(0,0,0,0.3);
    }

}