.jumbotron {
    width: 100%;
    min-height: 300px;
    background-color: none;
    border-radius: 30px;
    margin-bottom: 30px;
    background-image: attr(src url, "");
    background-size: cover;
}

.jumbotron-post {
    background-image: url('/img/bg-home.jpg');
}
.jumbotron-home {
    background-image: url('/img/bg-home.jpg');
}

.jumbotron-content {
    color: white;
    padding-left: 40px;
    padding-top: 40px;
}

.jumbotron-content h2 {
    font-size: 40px;
    margin-bottom: 0;
}
.jumbotron-content h3 {
    font-size: 28px;
    margin-top: 0;
}