.nav {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

nav ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    margin: 0;
    align-items: right;
    width:100%;
}

.search-box-container {
    width: fit-content;
}
nav {
    width: fit-content;
    margin-left: auto;
    /* TODO make this dynamic! */
}

.search-box-container {
    display: flex;
}
.search-box-container input {
    border: 1px solid grey;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    min-width: 300px;
    background-color: lightgray;
    color: black;
    opacity: 0.7;
    font-family: var(--default-font-family);
}
.display-mobile {
    display: none;
}
@media(max-width: 600px) {

    .search-box-container input  {
        max-width: inherit;
    }

    nav {
        padding: 15px;
    }
}
@media(max-width: 555px) {

    .search-box-container input  {
        display: none;
    }
    .display-mobile {
        display: block;
    }
}
.search-box-container input:focus {
    outline: none;
    opacity: 1;
}
.search-box-container input:hover {
    outline: none;
    opacity: 1;
    cursor: pointer;
}
.logo {
    margin-right: 10px;
    margin-right: auto;
}
.logo,nav {
    margin-top: auto;
    margin-bottom: auto;
}
nav a {
    color: inherit;
    text-decoration: none;
}

nav ul li {
    padding-left: 15px;
}